[LOG]
formatter=%(asctime)s-%(levelname)s-%(filename)s-%(name)s-日志信息:%(message)s
streamhandler=DEBUG
filehandler=DEBUG


[CASE]
number=1334444
usr=abcdefghijklmnopqrstuvwxyz
name=赵钱孙李周五正旺物华天宝龙光射牛斗之墟人杰地灵徐孺饯子
userRegister=all
sendMCode=all
verifiedUserAuth=all
bindBankCard=all


[SQL]
database={'host':'120.24.235.105',
            'port':3306,
            'user':'python',
            'password':'python666'
        }