[CASE]
number=1334444
register=all
login=all
recharge=all
add=all
invest=all


[LOGGER]
formatter=%(asctime)s-%(levelname)s-%(filename)s-%(name)s-日志信息:%(message)s
streamlevel=DEBUG
filelevel=DEBUG



[DB]
connect={'host':'test.lemonban.com',
          'user':'test',
          'password':'test',
          'port':3306,
          'database':'future',
          }

[DATA]
mobliephone=13344449513